<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>EmoWarn</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="static/style.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" href="static/footer.css">
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>
    <body>
        <label class="welcomeMSG">
            <span class="welcomeTitle">Welcome to <span class="emowarnColor">EmoWarn</span>!</span><br>
            <span class="welcomeDescription">
                EmoWarn is a project for detecting fake news with emotional warnings.<br>Please note that all outputs are for <strong>testing purposes only</strong> as we refine our detection algorithm.<br>
                Thank you for exploring EmoWarn!
            </span>
        </label>
        <header class="navBar">
                <img class="logo" src="static/images/rsz_emowarnlogo.png" alt="logo">
                <nav>
                    <ul class="navLinks">
                        <li><a href="#">Home</a></li>
                        <li><a href="#footer">About</a></li>
                        <li><a href="{{ url_for('instructions') }}">Guide</a></li>
                    </ul>
                </nav>
                <a class="cta" href="javascript:void(0)" onclick="toggleContactDropdown()"><button>Contact</button></a>
        </header>
        <div id="contactDropdown" class="contact-dropdown">
            
            <a href="https://www.microsoft.com/en-us/microsoft-365/outlook/log-in">orv1728@dlsud.edu.ph</a>
            <a href="https://www.microsoft.com/en-us/microsoft-365/outlook/log-in">grb1544@dlsud.edu.ph</a>
            <a href="https://www.microsoft.com/en-us/microsoft-365/outlook/log-in">mat1726@dlsud.edu.ph</a>
        </div>

        {% block content %}
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        <div class="warningBox">
                            <div class="warningIcon-column">
                                <svg xmlns="http://www.w3.org/2000/svg" class="warningIcon" viewBox="0 0 16 16">
                                    <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.15.15 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.2.2 0 0 1-.054.06.1.1 0 0 1-.066.017H1.146a.1.1 0 0 1-.066-.017.2.2 0 0 1-.054-.06.18.18 0 0 1 .002-.183L7.884 2.073a.15.15 0 0 1 .054-.057m1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767z"/>
                                    <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z"/>
                                </svg>
                            </div>

                            <div class="warningText-column">
                                {% for msg in messages %}                                    
                                    <p class="warningText">{{msg}}</p>
                                {% endfor %}
                            </div>
                        </div>
                            
                        {% endif %}
                    {% endwith %}                
                {% endblock %}

        <div class="container">
            <section>                
                <form action="{{ url_for('predict')}}" class="form" method="post">
                    <div class="input-box">
                        <label>News Headline</label>
                        <input type="text" name = "headline" placeholder="{{ headline_placeholder }}">
                    </div>
                    <div class="input-box">
                        <label>News Article</label>
                        <textarea class="textarea" name = "article" placeholder="{{ article_placeholder }}" rows="8"></textarea>
                    </div>
                    <button type="submit">Submit</button>
                </form>
            </section>
        </div>  

        
        <div class="formSectionContainer">
            <section class="formSection">
                <header>Fake News Detection</header>
                <form class="formWithDynamicLabel">
                    <header style="text-align: left;">News Headline and Article</header>
                    <div class="resultLabelContainer">
                        <label>Result:</label>
                        <label class="dynamicLabel">{{ cred_result }}</label>
                    </div>
                    <header class="graphHeader">Graphical Results</header>
                    <div class="pieChartContainer">
                        <canvas id="pieChart" width="400" height="400"></canvas>
                    </div>
                </form>
            </section>
            <section class="formSection">
                <header>Emotion Classification</header>
                <form class="formWithDynamicLabel">
                    <header style="text-align: left;">News Headline and Article</header>
                    <div class="resultLabelContainer">
                        <label>Result:</label>
                        <label class="dynamicLabel">{{ emo_result }}</label>
                    </div>
                    <header class="graphHeader2">Graphical Results</header>
                    <div class="emotionChartContainer">
                        <canvas id="emotionChart" width="400" height="400"></canvas> 
                    </div>
                </form>
            </section>
        </div>
        <div class="recommendationSection">
        <section>
            <h2>The Most Reliable Sources</h2>
            <!-- Buttons for filtering -->
            <div class="filter-buttons">
                <button onclick="filterImages('general')">General</button>
                <button onclick="filterImages('sports')">Sports</button>
                <button onclick="filterImages('health')">Health</button>
                <button onclick="filterImages('politics')">Politics</button>
            </div>

            <div id="general" class="image-group">
                <ul id="recommendedLinks" class="recommendedLinks">
                    <li>
                        <a href="https://www.inquirer.net/" target="_blank">
                            <img src="static/images/inquirer-thumbnail.jpg" alt="Philippine Daily Inquirer" class="linkThumbnail">
                            <span class="linkLabel">Philippine Daily Inquirer</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.pna.gov.ph/" target="_blank">
                            <img src="static/images/pna-thumbnail.jpg" alt="Philippine News Agency" class="linkThumbnail">
                            <span class="linkLabel">Philippine News Agency</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.sunstar.com.ph/" target="_blank">
                            <img src="static/images/sunstar-thumbnail.png" alt="SunStar Publishing" class="linkThumbnail">
                            <span class="linkLabel">SunStar Publishing, Inc.</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://mb.com.ph/" target="_blank">
                            <img src="static/images/mb-thumbnail.jpg" alt="Manila Bulletin" class="linkThumbnail">
                            <span class="linkLabel">Manila Bulletin</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div id="sports" class="image-group" style="display: none;">
                <ul id="recommendedLinks" class="recommendedLinks">
                    <li>
                        <a href="https://sports.inquirer.net/" target="_blank">
                            <img src="static/images/inquirer-thumbnail.jpg" alt="Philippine Daily Inquirer" class="linkThumbnail">
                            <span class="linkLabel">Philippine Daily Inquirer</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://tiebreakertimes.com.ph/" target="_blank">
                            <img src="static/images/tiebreaker_times.png" alt="Tiebreaker Times" class="linkThumbnail">
                            <span class="linkLabel">Tiebreaker Times</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.spin.ph/" target="_blank">
                            <img src="static/images/spinph.jpg" alt="Spin.ph" class="linkThumbnail">
                            <span class="linkLabel">SPIN.ph</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.pba.ph/" target="_blank">
                            <img src="static/images/pba.jpg" alt="Pba.ph" class="linkThumbnail">
                            <span class="linkLabel">PBA.ph</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div id="health" class="image-group" style="display: none;">
                <ul id="recommendedLinks" class="recommendedLinks">
                    <li>
                        <a href="https://news.tv5.com.ph/articles/health">
                            <img src="static/images/tv5.png" alt="TV5" class="linkThumbnail">
                            <span class="linkLabel">TV5</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.pna.gov.ph/categories/health-and-lifestyle">
                            <img src="static/images/pna-thumbnail.jpg" alt="Philippine News Agency" class="linkThumbnail">
                            <span class="linkLabel">Philippine News Agency</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.who.int/philippines">
                            <img src="static/images/whoph.jpg" alt="whoph" class="linkThumbnail">
                            <span class="linkLabel">World Health Organization PH</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.pchrd.dost.gov.ph/">
                            <img src="static/images/pchrd.jpg" alt="Philippine Council for Health Research and Development" class="linkThumbnail">
                            <span class="linkLabel">Philippine Council for Health <br>Research and Development</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div id="politics" class="image-group" style="display: none;">
                <ul id="recommendedLinks" class="recommendedLinks">
                    <li>
                        <a href="https://www.inquirer.net/">
                            <img src="static/images/inquirer-thumbnail.jpg" alt="Philippine Daily Inquirer" class="linkThumbnail">
                            <span class="linkLabel">Philippine Daily Inquirer</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.philstar.com/">
                            <img src="static/images/philstar.png" alt="Philstar" class="linkThumbnail">
                            <span class="linkLabel">Philstar.com</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://politiko.com.ph/">
                            <img src="static/images/politiko.jpg" alt="POLITIKO" class="linkThumbnail">
                            <span class="linkLabel">POLITIKO</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.rappler.com/">
                            <img src="static/images/rappler.jpg" alt="RAPPLER" class="linkThumbnail">
                            <span class="linkLabel">RAPPLER</span>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
    </div>
    <footer id="footer" class="footer-distributed">
        <div class="footer-left">
            <h3><img class="logo" src="static/images/rsz_emowarnlogo.png" alt="logo"></h3>

            <p class="footer-company-name">Copyright © 2024 <strong>EmoWarn</strong> All rights reserved</p>
        </div>
        <div class="footer-center">
            <div>
                <i class="fa fa-map-marker"></i>
                <p><span>Philippines</span>Cavite</p>
            </div>
            <div>
                <i class="fa fa-phone"></i>
                <p>+639925522949</p>
            </div>
            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="#">emowarn@gmail.com</a></p>
            </div>
        </div>
        <div class="footer-right">
            <p class="footer-company-about">
                <span>About the website</span>
                <strong>EmoWarn</strong> aims to provide a quick, easy-to-use solution for 
                users to assess the authenticity of news articles and headlines in terms 
                of the emotional biases they may contain.
            </p>
            <div class="footer-icons">
                <a href="https://www.dlsud.edu.ph/"><img src="static/images/dlsud_logo.png"></a>
                <a href="https://flask.palletsprojects.com/en/stable/"><img src="static/images/flask.png"></a>
                <a href="https://www.python.org/"><img src="static/images/python.png"></a>
                <a href="https://www.pythonanywhere.com/"><img src="static/images/pyanywhere.png"></a>
            </div>
        </div>

    </footer>

    </body>

    <script>
        //Contact Button
        function toggleContactDropdown() {
            const dropdown = document.getElementById('contactDropdown');
            dropdown.style.display = dropdown.style.display === 'block' ? 'none' : 'block';
        }
    
        // Optional: Close the dropdown when clicking outside of it
        window.onclick = function(event) {
            const dropdown = document.getElementById('contactDropdown');
            if (!event.target.closest('.cta')) {
                dropdown.style.display = 'none';
            }
        };
    </script>

    <script>
        // Initialize the Pie Chart

        let result = JSON.parse('{{ chart_data | tojson }}');
        window.onload = function() {            
            const ctx = document.getElementById('pieChart').getContext('2d');
            const pieChart = new Chart(ctx, {
                type: 'pie',  // Pie chart type
                data: {
                    labels: ['Fake', 'Real'],  // Labels for segments
                    datasets: [{
                        data: [result.fake, result.real],  // Data values (e.g., 70% Real, 30% Fake)
                        backgroundColor: ['#F44336', '#4CAF50'],  // Color for each segment
                        borderColor: ['rgba(200, 154, 106, 0.8)', 'rgba(200, 154, 106, 0.8)'],  // Border color for each segment
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,  // Make the chart responsive
                    plugins: {
                        legend: {
                            position: 'top',  // Position the legend on top
                        },
                    },
                }
            });
        };

        // Emotion Classification Example (Second Chart)
        var ctx2 = document.getElementById('emotionChart').getContext('2d');
        var emotionChart = new Chart(ctx2, {
            type: 'pie',  
            data: {
                labels: ['Joy', 'Sadness', 'Anger', 'Fear', 'Surprise'],
                datasets: [{
                    data: [result.joy, result.sadness, result.anger, result.fear, result.surprise],                    
                    backgroundColor: ['#FFC300', '#2310C5', '#C70039', '#FF5800', '#FFDCF8'],
                    borderColor: ['rgba(200, 154, 106, 0.8)', 'rgba(200, 154, 106, 0.8)', 'rgba(200, 154, 106, 0.8)', 'rgba(200, 154, 106, 0.8)', 'rgba(200, 154, 106, 0.8)'],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                },
            }
        });
    </script>
    <script>
        //Filter Images
        function filterImages(category) {
        // Hide all groups
        const groups = document.querySelectorAll('.image-group');
        groups.forEach(group => {
            group.style.display = 'none';
        });

        // Show the selected category group
        const selectedGroup = document.getElementById(category);
        if (selectedGroup) {
            selectedGroup.style.display = 'block';
        }
}
    </script>
</html>