<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>EmoWarn</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/style.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" href="static/footer.css">
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>
    <body>
        <label class="welcomeMSG">
            <span class="welcomeTitle">Welcome to <span class="emowarnColor">EmoWarn</span>!</span><br>
            <span class="welcomeDescription">
                EmoWarn is a project for detecting fake news with emotional warnings.<br>Please note that all outputs are for <strong>testing purposes only</strong> as we refine our detection algorithm.<br>
                Thank you for exploring EmoWarn!
            </span>
        </label>
        <header class="navBar">
                <img class="logo" src="static/images/rsz_emowarnlogo.png" alt="logo">
                <nav>
                    <ul class="navLinks">
                        <li><a href="#">Home</a></li>
                        <li><a href="#footer">About</a></li>
                        <li><a href="{{ url_for('instructions') }}">Guide</a></li>
                    </ul>
                </nav>
                <a class="cta" href="javascript:void(0)" onclick="toggleContactDropdown()"><button>Contact</button></a>
        </header>
        <div id="contactDropdown" class="contact-dropdown">
            <a href="https://www.microsoft.com/en-us/microsoft-365/outlook/log-in">orv1728@dlsud.edu.ph</a>
            <a href="https://www.microsoft.com/en-us/microsoft-365/outlook/log-in">grb1544@dlsud.edu.ph</a>
            <a href="https://www.microsoft.com/en-us/microsoft-365/outlook/log-in">mat1726@dlsud.edu.ph</a>
        </div>
        <div class="container">
            <section>
                <form action="{{ url_for('predict')}}" class="form" method="post">
                    <div class="input-box">
                        <label>News Headline</label>
                        <input type="text" name = "headline" placeholder="Enter news headline...">
                    </div>
                    <div class="input-box">
                        <label>News Article</label>
                        <textarea class="textarea" name = "article" placeholder="Enter news article..." rows="8"></textarea>
                    </div>
                    <button type="submit">Submit</button>
                </form>
            </section>
        </div>  
        <div class="formSectionContainer">
            <section class="formSection">
                <header>Fake News Detection</header>
                <form class="formWithDynamicLabel">
                    <header style="text-align: left;">News Headline and Article</header>
                    <div class="resultLabelContainer">
                        <label>Result:</label>
                        <label class="dynamicLabel">{{ cred_result }}</label>
                    </div>
                    <header class="graphHeader">Graphical Results</header>
                    <div class="pieChartContainer">
                        <canvas id="pieChart" width="400" height="400"></canvas>
                    </div>
                </form>
            </section>
            <section class="formSection">
                <header>Emotion Classification</header>
                <form class="formWithDynamicLabel">
                    <header style="text-align: left;">News Headline and Article</header>
                    <div class="resultLabelContainer">
                        <label>Result:</label>
                        <label class="dynamicLabel">{{ emo_result }}</label>
                    </div>
                    <header class="graphHeader2">Graphical Results</header>
                    <div class="emotionChartContainer">
                        <canvas id="emotionChart" width="400" height="400"></canvas>
                    </div>
                </form>
            </section>
        </div>
        <div class="recommendationSection">
        <section>
            <h2>The Most Reliable Sources</h2>
            <ul class="recommendedLinks">
                <li>
                    <a href="https://www.inquirer.net/">
                        <img src="static/images/inquirer-thumbnail.jpg" alt="Philippine Daily Inquirer" class="linkThumbnail">
                        <span class="linkLabel">Philippine Daily Inquirer</span>
                    </a>
                </li>
                <li>
                    <a href="https://www.pna.gov.ph/">
                        <img src="static/images/pna-thumbnail.jpg" alt="Philippine News Agency" class="linkThumbnail">
                        <span class="linkLabel">Philippine News Agency</span>
                    </a>
                </li>
                <li>
                    <a href="https://www.sunstar.com.ph/">
                        <img src="static/images/sunstar-thumbnail.png" alt="SunStar Publishing" class="linkThumbnail">
                        <span class="linkLabel">SunStar Publishing, Inc.</span>
                    </a>
                </li>
                <li>
                    <a href="https://mb.com.ph/">
                        <img src="static/images/mb-thumbnail.jpg" alt="Manila Bulletin" class="linkThumbnail">
                        <span class="linkLabel">Manila Bulletin</span>
                    </a>
                </li>
            </ul>
        </section>
        </div>
        <footer id="footer" class="footer-distributed">
            <div class="footer-left">
                <h3><img class="logo" src="static/images/rsz_emowarnlogo.png" alt="logo"></h3>

                <p class="footer-company-name">Copyright © 2024 <strong>EmoWarn</strong> All rights reserved</p>
            </div>
            <div class="footer-center">
                <div>
                    <i class="fa fa-map-marker"></i>
                    <p><span>Philippines</span>Cavite</p>
                </div>
                <div>
                    <i class="fa fa-phone"></i>
                    <p>+639925522949</p>
                </div>
                <div>
                    <i class="fa fa-envelope"></i>
                    <p><a href="#">emowarn@gmail.com</a></p>
                </div>
            </div>
            <div class="footer-right">
                <p class="footer-company-about">
                    <span>About the website</span>
                    <strong>EmoWarn</strong> aims to provide a quick, easy-to-use solution for 
                    users to assess the authenticity of news articles and headlines in terms 
                    of the emotional biases they may contain.
                </p>
                <div class="footer-icons">
                    <a href="https://www.dlsud.edu.ph/"><img src="static/images/dlsud_logo.png"></a>
                    <a href="https://flask.palletsprojects.com/en/stable/"><img src="static/images/flask.png"></a>
                    <a href="https://www.python.org/"><img src="static/images/python.png"></a>
                    <a href="https://www.pythonanywhere.com/"><img src="static/images/pyanywhere.png"></a>
                </div>
            </div>

        </footer>

    </body>
    <script>
        //Contact Button
        function toggleContactDropdown() {
            const dropdown = document.getElementById('contactDropdown');
            dropdown.style.display = dropdown.style.display === 'block' ? 'none' : 'block';
        }
    
        // Optional: Close the dropdown when clicking outside of it
        window.onclick = function(event) {
            const dropdown = document.getElementById('contactDropdown');
            if (!event.target.closest('.cta')) {
                dropdown.style.display = 'none';
            }
        };
    </script>

    <script>
        // Initialize the Pie Chart
        window.onload = function() {
            const ctx = document.getElementById('pieChart').getContext('2d');
            const pieChart = new Chart(ctx, {
                type: 'pie',  // Pie chart type
                data: {
                    labels: ['Fake', 'Real'],  // Labels for segments
                    datasets: [{
                        data: [1, 99],  // Data values (e.g., 70% Real, 30% Fake)
                        backgroundColor: ['#F44336', '#4CAF50'],  // Color for each segment
                        borderColor: ['rgba(200, 154, 106, 0.8)', 'rgba(200, 154, 106, 0.8)'],  // Border color for each segment
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,  // Make the chart responsive
                    plugins: {
                        legend: {
                            position: 'top',  // Position the legend on top
                        },
                    },
                }
            });
        };
        var ctx2 = document.getElementById('emotionChart').getContext('2d');
        var emotionChart = new Chart(ctx2, {
            type: 'pie',
            data: {
                labels: ['Joy', 'Sadness', 'Anger', 'Fear', 'Surprise'],
                datasets: [{
                    label: 'Emotion Probabilities',
                    data: [3, 2, 57, 17, 21],
                    backgroundColor: ['#FFC300', '#2310C5', '#C70039', '#FF5800', '#FFDCF8'],
                    borderColor: ['rgba(200, 154, 106, 0.8)', 'rgba(200, 154, 106, 0.8)', 'rgba(200, 154, 106, 0.8)', 'rgba(200, 154, 106, 0.8)', 'rgba(200, 154, 106, 0.8)'],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                },
            }
        });
    </script>
</html>