<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instructions - EmoWarn</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="static/footer.css">
    <link rel="stylesheet" href="static/instructions.css">
</head>
<body>
    <header class="navBar">
        <img class="logo" src="static/images/rsz_emowarnlogo.png" alt="logo">
        <nav>
            <ul class="navLinks">
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="#footer">About</a></li>
                <li><a href="{{ url_for('instructions') }}">Guide</a></li>
            </ul>
        </nav>
        <a class="cta" href="javascript:void(0)" onclick="toggleContactDropdown()"><button>Contact</button></a>
    </header>
    <div id="contactDropdown" class="contact-dropdown">
        <a href="https://www.microsoft.com/en-us/microsoft-365/outlook/log-in">orv1728@dlsud.edu.ph</a>
        <a href="https://www.microsoft.com/en-us/microsoft-365/outlook/log-in">grb1544@dlsud.edu.ph</a>
        <a href="https://www.microsoft.com/en-us/microsoft-365/outlook/log-in">mat1726@dlsud.edu.ph</a>
    </div>

    <div class="instructions-container"> 
        <section> 
            <h1>How to use <span class="emowarnColor">EmoWarn</span></h1> 
            <!-- Step 1 --> 
            <div class="row"> 
                <div class="col-6"> 
                    <h2>Step 1</h2> 
                    <p>Enter any <strong>PHILIPPINE</strong> news headline and article in <strong>ENGLISH</strong> language.
                    You can also copy headlines/articles and paste it from the respected fields.
                    </p> 
                </div> 
                <div class="col-6"> 
                    <img src="static/images/step1.png" alt="Step 1" class="stepImage"> 
                </div> 
            </div> 
            <!-- Step 2 --> 
            <div class="row"> 
                <div class="col-6"> 
                    <img src="static/images/step2.png" alt="Step 2" class="stepImage">
                </div> 
                <div class="col-6"> 
                    <h2>Step 2</h2> 
                    <p>Click the <strong>SUBMIT</strong> button and scroll down for the results</p> 
                </div> 
            </div>
            <!-- Step 3 --> 
            <div class="row"> 
                <div class="col-6"> 
                    <h2>Step 3</h2> 
                    <p><strong>EmoWarn</strong> will now show the <strong>Fake News Detection and Emotion Classification</strong>
                    results based on the inputted headline and article. A probability distribution and pie chart will
                    also be shown.
                    </p> 
                </div> 
                <div class="col-6"> 
                    <img src="static/images/step3.png" alt="Step 3" class="stepImage3"> 
                </div> 
            </div> 
        </section> 
    </div>

    <footer id="footer" class="footer-distributed">
        <div class="footer-left">
            <h3><img class="logo" src="static/images/rsz_emowarnlogo.png" alt="logo"></h3>
            <p class="footer-company-name">Copyright © 2024 <strong>EmoWarn</strong> All rights reserved</p>
        </div>
        <div class="footer-center">
            <div>
                <i class="fa fa-map-marker"></i>
                <p><span>Philippines</span>Cavite</p>
            </div>
            <div>
                <i class="fa fa-phone"></i>
                <p>+639925522949</p>
            </div>
            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="#">emowarn@gmail.com</a></p>
            </div>
        </div>
        <div class="footer-right">
            <p class="footer-company-about">
                <span>About the website</span>
                <strong>EmoWarn</strong> aims to provide a quick, easy-to-use solution for 
                users to assess the authenticity of news articles and headlines in terms 
                of the emotional biases they may contain.
            </p>
            <div class="footer-icons">
                <a href="https://www.dlsud.edu.ph/"><img src="static/images/dlsud_logo.png"></a>
                <a href="https://flask.palletsprojects.com/en/stable/"><img src="static/images/flask.png"></a>
                <a href="https://www.python.org/"><img src="static/images/python.png"></a>
                <a href="https://www.pythonanywhere.com/"><img src="static/images/pyanywhere.png"></a>
            </div>
        </div>
    </footer>
</body>
<script>
    //Contact Button
    function toggleContactDropdown() {
        const dropdown = document.getElementById('contactDropdown');
        dropdown.style.display = dropdown.style.display === 'block' ? 'none' : 'block';
    }

    // Optional: Close the dropdown when clicking outside of it
    window.onclick = function(event) {
        const dropdown = document.getElementById('contactDropdown');
        if (!event.target.closest('.cta')) {
            dropdown.style.display = 'none';
        }
    };
</script>
</html>
